# Logs

logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Caches

.cache

# Dependency directories

node_modules/

# TypeScript cache

*.tsbuildinfo

# dotenv environment variable files

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Finder (MacOS) folder config
.DS_Store

# Vinxi
.vinxi
.output

# Vercel
.vercel

# sst
.sst
