---
import { ArrowRightIcon } from "lucide-solid";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400..900&display=swap"
      rel="stylesheet"
    />

    <title>Simple email for everyone - Volamail</title>
  </head>
  <body>
    <div
      class="flex flex-col h-dvh justify-center items-center bg-grid-black/5"
    >
      <div
        class="absolute pointer-events-none inset-0 flex items-center justify-center bg-white [mask-image:radial-gradient(ellipse_at_center,transparent_20%,white)]"
      >
      </div>

      <div
        class="max-w-5xl w-full flex justify-between items-center p-8 relative"
      >
        <div class="flex flex-col gap-4 max-w-md">
          <h1 class="text-5xl font-black text-left">
            Simple email
            <br /> for everyone
          </h1>
          <p class="text-left text-gray-700">
            Write email templates with the help of AI and send them with an API
            call. E-mail shouldn't be so difficult.
          </p>

          <a
            href="https://app.volamail.com/login"
            class="font-medium py-2 rounded-full self-start px-4 mt-8 bg-black text-white inline-flex gap-2 items-center text-sm cursor-default hover:bg-gray-600 transition-colors"
          >
            Sign in <ArrowRightIcon class="size-4" />
          </a>
        </div>
        <img
          src="/assets/mockup.png"
          class="md:opacity-100 opacity-20 w-96 absolute top-1/2 -translate-y-1/2 right-0"
          alt=""
        />
      </div>
    </div>
  </body>
</html>
