---
import { Image } from "astro:assets";
import Logo from "../components/Logo.astro";
import { ArrowRightIcon, HourglassIcon } from "lucide-solid";
import mockupImage from "../assets/mockup.png";
import FeatureCard from "../components/FeatureCard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400..900&display=swap"
      rel="stylesheet"
    />

    <title>Simple email for everyone - Volamail</title>
  </head>
  <body>
    <main class="flex flex-col min-h-dvh justify-center items-center">
      <div
        class="h-dvh bg-grid-black/5 w-full relative flex flex-col justify-start"
      >
        <div
          class="absolute pointer-events-none top-0 left-0 w-full h-dvh flex items-center justify-center bg-white [mask-image:radial-gradient(ellipse_at_center,transparent_20%,white)]"
        >
        </div>

        <section
          class="max-w-5xl mx-auto w-full flex justify-between items-center p-8 relative h-[90dvh]"
        >
          <div class="flex flex-col gap-4 max-w-md">
            <h1 class="text-5xl font-black text-left">
              Simple email
              <br /> for everyone
            </h1>
            <p class="text-left text-gray-700">
              Write email templates with the help of AI and send them with an
              API call. E-mail shouldn't be so difficult.
            </p>

            <div class="flex items-center gap-6 mt-8">
              <button
                disabled
                class="font-medium disabled:bg-gray-700 py-2 rounded-full px-4 bg-black text-white inline-flex gap-2 items-center text-sm cursor-default hover:bg-gray-600 transition-colors"
              >
                Coming soon <HourglassIcon class="size-4" />
              </button>
              <a
                href="mailto:info@volamail.com"
                class="text-sm flex items-center gap-2"
                >Contact us<ArrowRightIcon class="size-4" /></a
              >
            </div>
          </div>
          <Image
            src={mockupImage}
            class="md:opacity-100 opacity-20 w-96 absolute top-1/2 -translate-y-1/2 right-0"
            alt=""
          />
        </section>
      </div>
      <section class="flex flex-col gap-4 max-w-5xl w-full px-8 -mt-32 z-10">
        <h2 class="text-3xl font-bold">Features</h2>
        <div class="flex flex-col sm:grid grid-cols-2 grid-rows-2 gap-4">
          <FeatureCard title="AI-assisted editing">
            You can write and compose email templates with the help of AI
            prompts. You can also select a single element to edit and prompt the
            AI to make changes to it.
          </FeatureCard>
          <FeatureCard title="Importing emails">
            Our AI integration and editor works with plain HTML, so you can
            gradually try out the platform by import your existing emails.
          </FeatureCard>
          <FeatureCard title="Self-hosting">
            Volamail is open source and fully self-hostable. There are very few
            moving parts so you can easily deploy it to your own infrastructure.
          </FeatureCard>
          <FeatureCard title="Marketing and transactional">
            A core vision is support for both marketing, developer-less emails
            and transactional emails that can be invoked from an API. Editing
            teams will be able to lay out marketing emails and send them to an
            audience straight from the Volamail dashboard.
          </FeatureCard>
        </div>
      </section>

      <section class="flex flex-col gap-4 max-w-5xl w-full px-8 py-32">
        <h2 class="text-3xl font-bold">Why</h2>
        <p class="text-gray-600">
          Working in modern web development we found existing email tooling to
          be a bit of a pain. There's a huge gap between the startup-level email
          setup and what large enterprise companies are using.
        </p>
        <p class="text-gray-600">
          Volamail wants to unify this flow by providing an extremely fast
          onboarding process for lean startups that have to go fast, but still
          give large editing teams the ability to work on emails without
          conflict, with features such as access control and localization.
        </p>
        <p class="text-gray-600">
          All this is bundled in a modern, open-source package for transparency,
          collaboration and self-hosting.
        </p>
      </section>
    </main>
    <footer class="w-full border-t border-gray-100 p-8">
      <div class="flex gap-4 max-w-5xl mx-auto w-full justify-between">
        <Logo class="w-24" />
        <div class="flex gap-6 items-center text-sm">
          <a
            href="https://github.com/volamail/volamail"
            target="_blank"
            class="text-gray-500 hover:text-black transition-colors"
          >
            GitHub
          </a>
          <a
            href="https://x.com/volamail"
            target="_blank"
            class="text-gray-500 hover:text-black transition-colors"
          >
            X
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
