/**
 * Editor stuff
 */

.revert-tailwind > div {
  min-height: 100%;
}

.revert-tailwind * {
  font-size: revert;
  margin: revert;
  font-weight: revert;
  list-style: revert;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
