---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="border border-gray-300 bg-gray-50 rounded-lg p-4 flex flex-col gap-1"
>
  <h3 class="text-xl font-semibold">{title}</h3>
  <p class="text-sm text-gray-600">
    <slot />
  </p>
</div>
